# Supabase (Pode continuar usando o cloud ou self-hosted)
SUPABASE_URL=https://fwoescubnnagdvwasbjl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=seu_service_role_aqui

# Evolution API
EVO_BASE_URL=https://evo.zailom.com
EVO_GLOBAL_KEY=e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855

# Domínios para o Traefik
SERVER_DOMAIN=api.seusistema.com
FRONTEND_DOMAIN=app.seusistema.com

# Porta do servidor
PORT=3000
